*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Ruby / Bundler
/vendor
/.bundle

# Android
/build
/app/build
/.gradle

# Fastlane
/fastlane/report.xml
/fastlane/README.md

# Mac
.DS_Store

env.sh
.env
.env.local
.env.dev
.env.prod


